html {background-color: #F8F9FA; scroll-behavior: smooth;}
section {margin-bottom: 100px; max-width: 100%; box-sizing: border-box;}
header {text-decoration: none; display: flex; justify-content: space-between; list-style: none; gap: 3.125rem; color: #495057; font-size: 1.5625rem;  max-width: 100%; box-sizing: border-box;}
.Hi {color: #CED4DA; font-size: 10.9375rem; text-align: center; font-family: 'inter', sans-serif ; align-items: center;}
.about-me, .skills {display: flex; justify-content: space-between; gap: 100px;}
.bold {font-size: 8rem; font-family: 'inter', sans-serif; color: #CED4DA;}
.description {font-family: 'inter', sans-serif; font-size: 2rem;}
.hover {display: flex; font-family:  'inter', sans-serif; font-size: 3.125rem; justify-content: right; margin-bottom: 3.125rem; color: #495057;}
.hover2 { font-family: 'inter', sans-serif; font-size: 3.125rem;; margin-bottom: 3.125rem; color: #495057;}
.social-icons {display: flex;justify-content: center; gap:2.6875rem; font-size: 1.25rem;}
.Contact {margin-bottom: 25px; color: #CED4DA; font-size: 10.9375rem; text-align: center; font-family: 'inter', sans-serif ; align-items: center;}
a {text-decoration: none; color: #495057;}
